if(errors) 
    h2.error Oooops!
    ul.errors
        each error in errors
            li.error
                =error.message

//- This page checks to see if there are any validation errors and returns them to the main file

    
    
        