if(errors) 
    h2.errors Oooops!
    ul.errors
        each error in errors
            li
                =error.message

//- This page checks to see if there are any validation errors and returns them to the main file

    
    
        